@import "../../index.scss";

.Navbar {
    z-index: 5;
    position: fixed;
    top: 0;
    background-color: #000;
    //background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,187,45,0) 100%);
    height: 72px;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 10px 20px, rgba(0, 0, 0, 0.44) 0px 6px 6px;
    ul {
        width: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        height: inherit;
        @media screen and (max-width: 1220px) {
            display: none;
          }
        > div {
            list-style: none;
            display: flex;
            flex-direction: row;
        }
        .lang {
            margin-inline: 5px;
            font-size: $font-paragraph-size;
            font-weight: bold;
            cursor: pointer;
            padding: 18.5px;
            align-self: center;
            text-decoration: none;
            height: inherit;
        }
        .quickStart {
            margin-left: 5px;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #000;
            justify-content: center;
            min-height: 72px;
            //padding-block: 28px;
            width: 165px;
            align-self: center;
            text-decoration: none;

            background-color: $pallete-4;
            &:hover {
                transition: 0.2s ease-out;
            }
        }
        .links {
            margin-inline: 20px;
            font-size: $font-paragraph-size;
            font-weight: bold;
            cursor: pointer;
            padding: 12.5px;
            align-self: center;
            text-decoration: none;
            color: #fff;
            font-size: 16px;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            position: relative;
            z-index: 1;
            width: 100%;

            &:hover {
                transition: all 100ms ease-in;
                color: $pallete-4;
                text-shadow: 2px 2px 35px $pallete-4;
            }
            /*   & > div{
                display: block;
                position: absolute;
              
                width: 100%;
                height: 1px;
                content: '.';
            
                background: #F1C40F;
                
                z-index: -1;
                &:hover{
                    transition: 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
                    opacity: 1;
                    visibility: visible;
                    height: 100%;
                    background: red;
                   // background: radial-gradient(circle, rgba(255,255,255,0.5214460784313726) 29%, rgba(255,255,255,0.34217436974789917) 45%, rgba(255,255,255,1) 67%);
                }
            }*/

            .awesomeIcon {
                font-size: 20px;
            }
        }

        nav.shift ul li a:hover:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }
    }
}
