@import "../../index.scss";

.Navbar {
    background-color: $pallete-4;
    height: 72px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 98%;
    margin: 15px;
    display: flex;
    ul{
        display: flex;
        flex-direction: row;    
        > div{
            list-style: none;
            display: flex;
            flex-direction: row;  
        }
        .links{
            margin-inline: 20px;
            font-size: $font-paragraph-size;
            font-weight: bold;
            cursor: pointer;
            padding:12.5px;
            align-self: center;
            text-decoration: none;
            color: #000;
            .awesomeIcon{
                font-size: 20px;
            }
        }
    }

}
